:root {
  --roxo-principal: #483D8B;
  --roxo-mais-claro: #6652E2;
  --roxo-claro: #8679B1;
  --roxo-mais-claro: #A499C4;
  --roxo-quase-branco: #C2BAD8;
  --branco-fundo: #E0DCEB;

  --cor-fundo-INPUTS: #F0F0F0;
  --cinza-claro-bordas-INPUTS: #C2BAD8;
  
  --cinza-quase-preto: #343434;
  --cinza-escuro-TEXTOS: #7B7B7B;
  --cinza: #8E8E8E;
}




.controls-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  all: unset;
  padding: 12px;
  border-radius: 50px;
  background: var(--roxo-claro);
}

.container-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 2vw;
  height: 60vh;
  border-radius: 12px;
  overflow: hidden;
  width: 80%;
  border: 4px solid var(--roxo-quase-branco);
  background-color: #fff;
}
.container-carousel ion-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-imgView {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 80%;
  height: 100%;
}

#carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 80%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.view-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}


#container-imgsButtons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: visible;
  gap: 10px;
  padding: 6px;
  width: 30%;
  height: 100%;
}

.prev-imgsButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 80px;
  padding: 0px 12px;
  cursor: pointer;
  border-radius: 10px;
  border: 4px solid var(--roxo-quase-branco);
}

.prev-imgsButtons.selected {
  border-color: var(--roxo-secundario);
}

.prev-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}

#carousel:hover {
  width: 100%;
  height: 100%;
}

.view-img:hover {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .container-carousel {
    flex-direction: column-reverse;
    width: 90vw;
    height: auto;
  }

  #container-imgsButtons {
    flex-direction: row;
    width: 100%;
    height: 30%;
  }
  #carousel {
    width: 100%;
    height: 100%;
  }
  .container-imgView {
    width: 100%;
    height: 50vh;
  }
  #container-imgsButtons {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;  
  }
  .prev-imgsButtons {
    width: 120px;
  }
}

#container-imgsButtons::-webkit-scrollbar {
  width: 12px;
}

#container-imgsButtons::-webkit-scrollbar-track {
  background: transparent;
}

#container-imgsButtons::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: transparent;
}





.sub-detalhes{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detalhes{
  width: 98%;
}
.testess {
  display: flex;
  margin-left: 20px;
}

.testeee{
  font-size: 32px;
  margin-left: 20px;
  color: var(--cinza-quase-preto);
}
