.heart-favoriteItem {
  cursor: pointer;
  font-size: 32px;
  color: var(--roxo-principal);
}
.heart-favoriteItem.--active-heart {
  color: black;
}

.pop-bars {
  opacity: 0;
  position: absolute;
  width: 10px;
  height: 3px;
  border-radius: 6px;
  background: var(--roxo-principal);
}

.pop-heart {
  animation: popHeartAnim;
}

.box-favoriteItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
}

.rot-45 {
  transform: rotate(-45deg);
}
.rot45 {
  transform: rotate(45deg);
}

.--leftTop {
  top: 0;
  left: 10%;
}
.--leftCenter {
  top: 50%;
  left: 0;
}
.--leftBottom {
  top: 100%;
  left: 10%;
}

.--rightTop {
  top: 0;
  right: 10%;
}
.--rightCenter {
  top: 50%;
  right: 0;
}
.--rightBottom {
  top: 100%;
  right: 10%;
}
.explosion {
  animation: popHeartAnim 0.5s ease;
}

@keyframes popHeartAnim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
