@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
    /* outline: 2px dashed #000; */
    transition: all .5s ease;
}

:root {
    --roxo-principal: #483D8B;
    --roxo-mais-claro: #6652E2;
    --roxo-claro: #8679B1;
    --roxo-mais-claro: #A499C4;
    --roxo-quase-branco: #C2BAD8;
    --branco-fundo: #E0DCEB;

    --cor-fundo-INPUTS: #F0F0F0;
    --cinza-claro-bordas-INPUTS: #C2BAD8;
    
    --cinza-quase-preto: #343434;
    --cinza-escuro-TEXTOS: #7B7B7B;
    --cinza: #8E8E8E;
}

ion-icon {
    font-size: 22px;
    cursor: pointer;
    color: var(--cinza-quase-preto);
}

.inpu {
    all: unset;
    padding: 10px 42px 10px 42px;
    border-radius: 6px;
    border: 2px solid var(--cinza-claro-bordas-INPUTS);
    background: var(--cor-fundo-INPUTS);
    transition: all .2s ease;   
}

.inpu:focus {
    font-size: 16px;
    border: 2px solid var(--roxo-principal);
}

.inpu::placeholder {
    font-size: 14px;
    color: var(--cinza-claro-bordas-INPUTS);
}

button {
    all: unset;
    padding: 12px 24px;
    border-radius: 12px;
    font-size: 12px;
    cursor: pointer;
    transition: all .5s ease; 
}
button:hover {
    box-shadow: 0px 0px 12px 0px var(--roxo-principal);
}

/* -------------- Header - GLOBAL -------------- */

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    top: 0;
    width: 100vw;
    height: 12vh;
    background: var(--branco-fundo);
    border-bottom: 4px solid var(--roxo-principal);
    z-index: 999999;
}

/* ======= Left Div ======= */
.div-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16%;
    height: 100%;
}

.img-logo {
    width: 100%;
}


/* ======= Center Div ======= */
.div-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search-icon,
.filter-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--cinza-quase-preto);
}

.search-icon {
    left: 12px;
}

.filter-icon {
    right: 12px;
}

.input-searchProducts {
    color: var(--cinza-quase-preto);
    border: 2px solid var(--cinza-claro-bordas-INPUTS);
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
}


/* ======= Right Div ======= */
.div-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 22%;
    gap: 25px;
}
@media (max-width: 1180px) {
    .div-right {
        width: 34%;
    }
}

.login-button {
    color: #fff;
    padding: 1vw;
    background: var(--roxo-principal);
    white-space: nowrap;
}
/* -------------- Header - MOBILE -------------- */

.header-mobile {
    display: none;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 10vh;
    gap: 10px;
    padding: 10px;
    background: var(--roxo-principal);
}
.img-logo-mobile {
    height: 50%;
}

#searchIcon {
    display: flex;
}

.input-container-mobile.--activeInput {
    display: flex;
}


.--f {
    display: none;
}

.input-container-mobile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.search-icon-mobile,
.filter-icon-mobile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--cinza-quase-preto);
}

.search-icon-mobile {
    left: 12px;
}

.filter-icon-mobile {
    right: 12px;
}

.input-searchProducts-mobile {
    color: var(--cinza-quase-preto);
    border: 2px solid var(--cinza-claro-bordas-INPUTS);
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
}



@media (max-width: 568px) {
    ion-icon {
        color: var(--branco-fundo);
    }
    .header-mobile {
        display: flex;
    }
    .header-main {
        display: none;
    }
}


.search-pai {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.search-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}


.search-header {
    display: flex;
    justify-content: flex;
    align-items: flex;
}
.search-button {
    display: flex;
    padding: 10px 10px;
    border-radius: 100%;
    background: #fff;
}

.search-button ion-icon {
    font-size: 20px;
    color: #343434;
}
