p{
    margin-bottom: 0;
}

.container-subHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
    padding: 6px;
    gap: 14px;
    background: var(--roxo-principal, #483D8B);
}

.btn-voltar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 100%;
    background: var(--branco-fundo);
}

.btn-voltar ion-icon {
    font-size: 22px;
    color: var(--cinza-escuro-textos);
}

.product-name {
    color: var(--branco-fundo);
    font-size: 26px;
    font-weight: 700;
}



.container-price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 40%;
    gap: 30px;
}
.container-price p {
    font-size: 16px;
    text-align: center;
}

.produdu{
    color: var(--branco-fundo);
}

.product-price {
    color: var(--branco-fundo, #E0DCEB);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.product-price::before {
    content: "R$";
    font-size: 14px;
}


.btn-compraragora {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 180px;
    font-size: 14px;
    font-weight: 600;
    word-break: keep-all;

    color: #343434;
    border-radius: 50px;
    background: var(--cor-fundo-inputs, #F0F0F0);
}


@media (max-width: 800px) {
    .product-name {
        font-size: 30px;
    }
    .product-price {
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    .container-subHeader{
        position: relative;
        align-items: center;
        justify-content: center;
        height: 80px;
        background: var(--branco-fundo);
        /* display: none; */
    }
    .product-name {
        color: var(--roxo-principal);
    }
    .btn-voltar {
        top: 50%;
        transform: translateY(-50%);
        left: 12px;
        position: absolute;
    }
    .btn-voltar ion-icon {
        font-size: 26px;
    }
}
